* {
	margin: 0;
}
body {
	background-color: #F0ECCF;
}

header {
	min-height: 10vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: orange;
}

.nav__link {
    padding: 7px 15px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.nav__link:hover{
    background-color: #337ECC;
    color: white;
    transition: color, background-color 0.2s linear;
}

.team {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	word-wrap: break-word;
}

.info {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: 3vw;
	min-width: 30vw;
	display: flex;
	justify-content: space-around;
	word-wrap: break-word;
}


.issue, .input {
	margin-top: 7vh;
	margin-bottom: 5vh; 
    color: black;
    text-align: center;
}

.issue h2, .input h2 {
    font-weight: bolder;
    margin-bottom: 3vh;
}
#head {
	margin-bottom: 3vh;
}


.container {
   margin: auto;
   max-width: 50vw;
   align-items: center;
   flex-direction: column;
   display: flex;
   text-align: center;
   justify-content: center;
}

.searchLine {
    display: flex;
    margin: 2vh; 
}

input, button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 0;
}

input[type = "text"] {
    width: 25vw;
}

.button {
    cursor: pointer;
    border-radius: 2px;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dishes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
}

.meal {
    cursor: pointer;
    position: relative;
    height: 25vh;
    width: 25vh;
    text-align: center;
}

.meal img {
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.meal:hover .meal-info {
    opacity: 1;
}

#oneDish {
	padding: 5%;
	margin-bottom: 7vh; 
	display: none;
	width: 40vw;
	min-height: 100vh;
	background-color: #A3BB98;
}
#oneDish img {
    width: 50%;
    margin: 5vh;
    border-radius: 50vw;
}
#list {
	text-align: left;
}

#toHide {
	font-weight: bold;
	text-align: center;
}
#toShow {
	display: none;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: 3vw;
}

#toShow h3, #toShow ul {
	margin-left: 2vw;
}